*{
    padding: 0px;
    margin: 0px;
    font-family: "Overpass Mono", monospace;
}
html{
    scroll-behavior: smooth;
}
body {
    background-color: #4FB8BA;
    color: #36495B;
    padding: 0;
    margin: 0;
}
h1{
    color: #36495B;
    font-size: 40px;;
    margin: 0 0 0 8px;
    padding: 10px;
}
h2{
    color: #fff;
    margin: 0 0 0 8px;
    padding: 20px;
}
a{
    text-decoration: none;
}
p{
    margin: 0 40px;
    width: 60vh;
    text-align: justify;
}
header {
    background-color: #36495B;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li{
    list-style: none;
}
header ul li a {
    position: relative;
    margin: 0 15px;
    color: #fff;
}
header h2{
    display: flex;
    align-items: center;
    justify-content: center;
}
section{
    position: fixed;
    top: 10vh;
    left: 0;
    width: 100%;
    min-height: calc(100vh - 10vh - 10vh);
    display: flex;
    align-items: center;
    justify-content: center;
}
section .contenedor {
    background-color: #4FB8BA;
    text-align: center;
    background: none;
}
.secciones_cv{
    position: relative;
    width: 100%;
    height: 80vh;
    top: 10vh;
    left: 0;
    color: #fff;
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #36495B;
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.boton{
    background-color: #36495B;
    color: #fff;
    padding: 20px;
    margin-bottom: 30px;
    max-height: 20px; 
}
#foto {
    height: 150px;
}
ul{
    margin-left: 30px;
}
.eslogan {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}
#nombre {
    color: #fff;
}
#logo{
    height: 100%;
    padding-top: 30px;
    margin: 10px 30px;
}
.secciones {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    background: linear-gradient(rgba(5,7,12,0.6),rgba(5,7,12,0.6)), url(img/fondo.jpg);
    background-size: cover;
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor {
    background: linear-gradient(rgba(255, 255, 255, 0.213),rgba(255,255,255,0.213));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contenedor_hor {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.contenedor p {
    margin-bottom: 30px;
    margin: 0;
    width: 10 px;
}
.contenedor ul{
    list-style-type: none;
    margin: 30px;
}
.contenedor li {
    margin: 10px;
}
.contenedor_hor p {
    margin-bottom: 30px; 
}
.contenedor .contenedor {
    background: none;
}
.contenedor .info {
    margin: 30px;
}
.contenedor img {
    height: 300px;
    margin: 40px 40px;
}
.contenedor h3 {
    margin-bottom: 30px;
}
#titulo {
    margin-top: 30px;
}
.temp {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4FB8BA;
    z-index: 5;
}
.contenedor .perfil {
    width: 100px;
    height: 100px;
}
form{
    display: flex;
    flex-direction: column;
    margin: 30px 30px;
}
iframe{
    margin: 20px 50px;
}